$colors: (
    common: ("white": #FFFFFF,
        "black": #1B1B1B,
    ),
    heading: ("primary": #1B1B1B,
    ),
    grey: ("1":#E6E6E6,
        "2":#E9CFCF,
    ),
    text: ("body":#424242,
        "1":#000,
    ),
    theme: ("1": #0b7fab,
        "2":#e9723d ,
        "3":#f9ae17,
        "4":#FDF1EC,
        "5":#FFA455,
        "6":#FFF6EB,
        "7":#E2F0F5,
        "8":#FFECD6,
        "9":#FF7C7C,
        "10":#7C81FF,
        "11": #3AA560,

    ),
);