.bd-class-area{
    .swiper-slide{
        height: auto;
        display: flex;
        flex-direction: column;
        .bd-class-wrapper{
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }
        .bd-class{
            flex-grow: 1;
        }
    }
}
.bd-testimonial-area.my-bg{
   background-color: #fafafa;
}

.mega-menu{
    a.mean-expand{
        display: none !important;
    }
}

.whatsapp-btn{
    position: fixed;
    display: inline-flex;
    right: 40px;
    z-index: 9;
    bottom: 40px;
}
.progress-wrap{
    left: 40px;
    bottom: 40px;
}
.progress-wrap.active-progress{
    bottom: 40px;
}
.whatsapp-btn__ic{
    height: 40px;
    width: 40px;
}
.video-container {
    /* width is set as 100% here. any width can be specified as per requirement */
    width: 100%;
    padding-top: 56.25%;
    height: 0px;
    position: relative;
    video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }
}

.ad-open-modal{
    .modal-content{
        position: relative;
        overflow: hidden;
    }   
    .btn-close{
        position: absolute;
        right: 15px;
        top: 15px;
    }
}

@media (max-width:767px){
    .whatsapp-btn{
        right: 20px;
        bottom: 20px;
    }
    .progress-wrap{
        left: 20px;
        bottom: 20px;
    }
    .progress-wrap.active-progress{
        bottom: 20px;
    }
}